In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [46]:
series = 10
days = 250
# generate all days between 2020-01-01 and 2020-12-31
days = pd.date_range(start='2020-01-01', end='2020-12-31', freq='D')

resolution = 1 # minutes
# create a set of 1 minute bars from 0900 to 1630
X = []
for day in days:
    _X = pd.DataFrame()
    _X['date'] = pd.date_range(start=day + pd.Timedelta('09:00:00'), end=day + pd.Timedelta('16:30:00'), freq=f'{resolution}T')
    _X["day"] = day
    for i in range(1, series+1):
        _X[f"x{i}"] = np.round(np.random.normal(0, 1, len(bars)),2)
    X.append(_X)
X = pd.concat(X, axis=0)
X.head()

,date,day,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,2020-01-01 09:00:00,2020-01-01,0.55,1.00,-0.35,0.66,-2.13,0.36,1.13,0.48,0.33,-0.49
1,2020-01-01 09:01:00,2020-01-01,0.41,-0.59,2.25,0.71,-1.07,1.57,1.41,-0.06,-0.40,0.18
2,2020-01-01 09:02:00,2020-01-01,-0.68,-2.44,-2.45,0.39,-0.04,0.38,-0.50,-0.62,-1.24,0.64
3,2020-01-01 09:03:00,2020-01-01,-0.20,-0.12,0.87,-1.34,-0.77,-0.42,0.17,-1.49,-0.23,-1.26
4,2020-01-01 09:04:00,2020-01-01,0.13,-1.35,-0.85,-2.15,-1.21,0.46,-0.51,0.89,-1.29,0.53

In [34]:
#!pip install tabulate

# print the first ten rows of X as a markdown table
#print(X.head(3).to_markdown())

In [57]:
# binarize X
Y = X.copy()
# if y in Y is greater than 0, set it to 1, otherwise set it to 0
Y.iloc[:, 2:] = 1*(Y.iloc[:, 2:] > 0)
Y

,date,day,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,2020-01-01 09:00:00,2020-01-01,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,2020-01-01 09:01:00,2020-01-01,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
2,2020-01-01 09:02:00,2020-01-01,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,2020-01-01 09:03:00,2020-01-01,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2020-01-01 09:04:00,2020-01-01,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020-12-31 16:26:00,2020-12-31,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
447,2020-12-31 16:27:00,2020-12-31,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
448,2020-12-31 16:28:00,2020-12-31,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
449,2020-12-31 16:29:00,2020-12-31,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
450,2020-12-31 16:30:00,2020-12-31,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

## Hamming Distance

The Hamming distance could be particularly effective here. It measures the number of positions at which the corresponding elements are different. Since the time series are binary, the Hamming distance directly gives you the count of mismatches between two series, making it a straightforward and interpretable measure of similarity.

In [60]:
Y

,date,day,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,2020-01-01 09:00:00,2020-01-01,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,2020-01-01 09:01:00,2020-01-01,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0
2,2020-01-01 09:02:00,2020-01-01,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
3,2020-01-01 09:03:00,2020-01-01,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,2020-01-01 09:04:00,2020-01-01,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
446,2020-12-31 16:26:00,2020-12-31,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0
447,2020-12-31 16:27:00,2020-12-31,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
448,2020-12-31 16:28:00,2020-12-31,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0
449,2020-12-31 16:29:00,2020-12-31,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
450,2020-12-31 16:30:00,2020-12-31,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [72]:
def hamming_distance(x, y):
    """Compute the Hamming distance between two binary sequences"""    
    return sum(el1 != el2 for el1, el2 in zip(x, y))

target_day = "2020-12-31"
res = {}
day = days[0]
print(day)
target_series = Y.query(f"day == '{target_day}'").iloc[:, 2]
for day in days:
    current_series = Y.query(f"day == '{day}'").iloc[:, 2]
    distance = hamming_distance(target_series, current_series)
    res[day] = distance
distance_df = pd.DataFrame(res, index=["distance"]).T.reset_index().rename(columns={"index": "day"})
distance_df.sort_values("distance", ascending=True, inplace=True)
distance_df

2020-01-01 00:00:00

           day  distance
365 2020-12-31         0
156 2020-06-05       192
259 2020-09-16       196
108 2020-04-18       200
351 2020-12-17       202
..         ...       ...
226 2020-08-14       248
299 2020-10-26       250
123 2020-05-03       253
93  2020-04-03       254
270 2020-09-27       257

[366 rows x 2 columns]

## Jaccard Similarity:

Another relevant measure could be the Jaccard similarity, which is defined as the size of the intersection divided by the size of the union of the sample sets. For binary sequences, this can indicate how similar the occurrences of 1s are between two sequences.

## Pearson Correlation:

If you're interested in how similarly two time series move together (i.e., when one increases or decreases, so does the other, regardless of the absolute values), then Pearson correlation is a good measure. It assesses the linear relationship between series.

## Euclidean Distance or Manhattan Distance:

For comparing the overall differences in the magnitudes of two time series, straightforward measures like Euclidean or Manhattan distance can be useful. They are especially relevant if the series are aligned in time and of the same length.

## Cosine Similarity

If the direction of the changes in the time series matters more than the magnitude of the changes, cosine similarity can be effective. It measures the cosine of the angle between two vectors (in this case, time series), providing insight into how similarly they move without being affected by the scale of the movements.